name: my-project
services:
  frontend:
    build:
      context: ../../frontend
      dockerfile: Dockerfile
    container_name: frontend-service
    ports:
      - 8080:80

  backend:
    build:
      context: ../../backend
      dockerfile: Dockerfile
    container_name: backend-service
    ports:
      - 8081:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080